<div class="container mt-4">
  <app-header></app-header>
  
  <div class="row mb-3">
    <div class="text-center" *ngIf="isLoggedIn">
      <button type="button" class="btn btn-primary" (click)="handleCreateProductClick()" >
        <fa-icon [icon]="faPlus"></fa-icon> Create Product
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4 shadow-sm card-hover">
        <img [src]="product.imageUrl" class="card-img-top fixed-size-img" alt="Product Image" (click)="handleViewClick(product)">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <small class="text-muted">$ {{ product.price }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
