.card {
    border-radius: 10px;
  }
  
  .btn {
    width: 100%;
  }
  
  .password-toggle-icon {
    top: 2rem;
    right: 1rem;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }
  