<div class="container mt-4">
    <div class="row mb-3 justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search-icon">
                <fa-icon [icon]="faSearch"></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search reviews" [(ngModel)]="searchText">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let review of filteredReviews()">
        <div class="card mb-4 shadow-sm card-hover">
          <div class="card-body">
            <p class="card-text"><strong>Review ID:</strong> {{ review.reviewID }}</p>
            <p class="card-text"><strong>Product ID:</strong> {{ review.productID }}</p>
            <p class="card-text"><strong>User ID:</strong> {{ review.userID }}</p>
            <p class="card-text"><strong>Rating:</strong> {{ review.rating }}</p>
            <p class="card-text"><strong>Comment:</strong> {{ review.comment }}</p>
            <p class="card-text"><strong>Review Date:</strong> {{ review.reviewDate | date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  