<div class="container mt-4">
    <app-header></app-header>

    <div class="row mb-3">
      <div class="text-center" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-primary" (click)="handleCreateReviewClick()">
          <fa-icon [icon]="faPlus"></fa-icon> Create Review
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let review of reviews" (click)="handleReviewClick(review)">
        <div class="card mb-4 shadow-sm card-hover">
          <div class="card-body">
            <p class="card-text">Review ID: {{ review.reviewID }}</p>
            <p class="card-text">Product Name: {{ getProductName(review.productID) }}</p>
            <p class="card-text">User Name: {{ review.userID }}</p>
            <p class="card-text">Rating: {{ review.rating }}</p>
            <p class="card-text">Comment: {{ review.comment }}</p>
            <p class="card-text">Review Date: {{ review.reviewDate | date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  