<div class="container mt-4">
  <h2 class="mb-4">Order Details</h2>
  <form (ngSubmit)="onDelete()" class="text-center">
    <div class="form-group mb-3">
      <input type="text" placeholder="User ID" class="form-control" id="userID" name="userID" [(ngModel)]="order.userID">
    </div>
    <div class="form-group mb-3">
      <input type="date" placeholder="Order Date" class="form-control" id="orderDate" name="orderDate" [(ngModel)]="order.orderDate">
    </div>
    <div class="form-group mb-3">
      <input type="number" placeholder="Total Amount" class="form-control" id="totalAmount" name="totalAmount" [(ngModel)]="order.totalAmount">
    </div>
    <div class="form-group mb-3">
      <select placeholder="Order Status" class="form-control" id="orderStatus" name="orderStatus" [(ngModel)]="order.orderStatus">
        <option value="pending">Pending</option>
        <option value="shipped">Shipped</option>
        <option value="delivered">Delivered</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let item of orderItems">
        <app-order-item [orderItem]="item"></app-order-item>
      </div>
    </div>

    <div class="form-group mb-4">
      <button type="submit" class="btn btn-danger mr-2">
        <fa-icon [icon]="faTrash"></fa-icon> Delete Order
      </button>
      <span class="mx-2"></span>
      <button type="button" class="btn btn-primary">
        <fa-icon [icon]="faEdit"></fa-icon> Update Order
      </button>
    </div>
  </form>
</div>