<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="container mt-4 border border-dark rounded p-4">
        <app-detail-header></app-detail-header>
        <button type="button" class="btn btn-link mb-3" (click)="handleNavigateBackClick()">
          <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Users
        </button>
        <h2 class="text-center mb-4 ">User Profile</h2>
        <div class="form-group mb-3">
          <label><strong>User Name</strong></label>
          <input type="text" placeholder="User Name" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName">
        </div>
        <div class="form-group mb-3">
          <label><strong>Email</strong></label>
          <input type="email" placeholder="Email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group mb-3 position-relative">
          <label><strong>Password</strong></label>
          <input [type]="hidePassword ? 'password' : 'text'" placeholder="New Password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
          <fa-icon [icon]="hidePassword ? faEyeSlash : faEye" class="position-absolute password-toggle-icon" (click)="togglePasswordVisibility()"></fa-icon>
        </div>
        <div class="form-group mb-3 position-relative mb-3">
          <label><strong>New Password</strong></label>
          <input [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm New Password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
          <fa-icon [icon]="hideConfirmPassword ? faEyeSlash : faEye" class="position-absolute password-toggle-icon" (click)="toggleConfirmPasswordVisibility()"></fa-icon>
        </div>
        <div class="form-group mb-4 text-center">
          <!-- <button type="button" class="btn btn-danger" (click)="onDelete()">
            <fa-icon [icon]="faTrash"></fa-icon> Delete User
          </button> -->
          <span class="mx-2"></span>
          <button type="button" class="btn btn-primary" (click)="onUpdate()">
            <fa-icon [icon]="faEdit"></fa-icon> Update User
          </button>
        </div>
      </div>
    </div>
  </div>
</div>