<div class="card mb-3">
    <div class="card-body card-hover">
      <img [src]="product.imageUrl" class="card-img-top fixed-size-img" alt="Product Image">
      <p class="card-text">{{ product.name }}</p>
      <div class="form-group mb-0">
        <label class="mb-0"><strong>Quantity</strong></label>
        <input type="number" class="form-control" [(ngModel)]="orderItem.quantity">
      </div>
      <label class="mb-0"><strong>Price</strong></label>
      <p class="card-text">${{ orderItem.price }}</p>
      <button type="submit" class="btn btn-danger mr-2">
        <fa-icon [icon]="faTrash"></fa-icon> Delete Item
      </button>
    </div>
  </div>
  