<div class="card mb-3">
    <div class="card-body card-hover">
        <p class="card-text"><strong>Order Item ID:</strong> {{ orderItem.orderItemID }}</p>
        <p class="card-text"><strong>Order ID:</strong> {{ orderItem.orderID }}</p>
        <p class="card-text"><strong>Product ID:</strong> {{ orderItem.productID }}</p>
        <p class="card-text"><strong>Quantity:</strong> {{ orderItem.quantity }}</p>
        <p class="card-text"><strong>Price:</strong> {{ orderItem.price }}</p>
    </div>
</div>
  