<div class="container mt-4">
    <app-header></app-header>
    
    <div class="row">
        <div class="col-md-4" *ngFor="let cart of carts" (click)="handleCartClick(cart)">
            <div class="card mb-3 card-hover">
                <div class="card-body">
                    <p class="card-text">Cart ID: {{ cart.cartID }} </p>
                    <p class="card-text">User Name: {{ getUserName(cart.userID) }}</p>
                    <p class="card-text">Total Amount: ${{ cart.totalAmount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
