<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="border border-dark rounded p-4">
          <button type="button" class="btn btn-link mb-3" (click)="handleNavigateBackClick()">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Products
          </button>
          <h2 class="text-center mb-4">Product Creation</h2>
          <form>
            <div class="form-group mb-3">
              <label><strong>Product Name</strong></label>
              <input type="text" placeholder="Product Name" class="form-control" id="name" name="name" [(ngModel)]="productRequest.name">
            </div>
            <div class="form-group mb-3">
              <label><strong>Categories</strong></label>
              <select class="form-control" name="categories" [(ngModel)]="productRequest.categories" multiple>
                <option *ngFor="let category of availableCategories" [value]="category">{{ category }}</option>
              </select>
            </div>     
            <div class="form-group mb-3">
              <label><strong>Product Description</strong></label>
              <textarea placeholder="Description" class="form-control" id="description" name="description" [(ngModel)]="productRequest.description"></textarea>
            </div>
            <div class="form-group mb-3">
              <label><strong>Price</strong></label>
              <input type="number" placeholder="Price" class="form-control" id="price" name="price" [(ngModel)]="productRequest.price">
            </div>
            <div class="form-group mb-3">
              <label><strong>Stock</strong></label>
              <input type="number" placeholder="Stock" class="form-control" id="stock" name="stock" [(ngModel)]="productRequest.stock">
            </div>
            <div class="row">
              <div class="card mb-4 shadow-sm card-hover">
                <img [src]="productRequest.imageUrl" class="card-img-top fixed-size-img" alt="Product Image">
              </div>
              <div class="form-group mt-2 text-center">
                <input type="file" (change)="onImageChange($event)" id="imageInput" hidden>
                <button type="button" class="btn btn-outline-secondary w-100" (click)="triggerImageInput()">
                  <fa-icon [icon]="faImage"></fa-icon> Uploade Image
                </button>
              </div>
            </div>
            <hr>
            <div class="form-group mb-4 text-center">
              <button type="button" class="btn btn-primary" (click)="handleCreateProductClick()">
                <fa-icon [icon]="faPlus"></fa-icon> Create Product
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  