<div class="row mb-3 justify-content-center">
    <div class="col-md-8">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
        <div class="input-group-append">
            <span class="input-group-text" id="search-icon">
            <fa-icon [icon]="faSearch"></fa-icon>
            </span>
        </div>
        <span class="mx-2"></span>
        <div class="input-group-append ml-2">
            <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary" (click)="handleLoginClick()">
            <fa-icon [icon]="faSignIn"></fa-icon> Login
            </button>
            <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="handleLogoutClick()">
            <fa-icon [icon]="faSignIn"></fa-icon> Logout
            </button>
            <span class="mx-2"></span>
            <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-secondary" (click)="handleCartClick()">
            <fa-icon [icon]="faShoppingCart"></fa-icon> Cart
            </button>
        </div>
        </div>
    </div>
</div>