<div class="container mt-4">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-4">
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search-icon">
                <fa-icon [icon]="faSearch"></fa-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search users" [(ngModel)]="searchText">
            </div>
        </div>
    </div>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let user of filteredUsers()">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{ user.userName }}</h5>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Role:</strong> {{ user.role }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  