<div class="row mb-3 justify-content-center">
  <div class="col-md-8 text-center">
    <img src="assets/e-commerce-logo.png" class="ecommerce-logo" (click)="handleLogoClick()">
    <div class="input-group">
      <div class="input-group-prepend">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-secondary" (click)="handleNavigateToOrdersClick()">
          <fa-icon [icon]="faList"></fa-icon> Orders
        </button>
        <span class="mx-2"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
      <div class="input-group-append">
        <span class="input-group-text" id="search-icon">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <div class="input-group-append ml-2">
        <span class="mx-2"></span>
        <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary" (click)="handleLoginClick()">
          <fa-icon [icon]="faSignIn"></fa-icon> Login
        </button>
        <span class="mx-2"></span>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-secondary" (click)="handleCartClick()">
          <fa-icon [icon]="faShoppingCart"></fa-icon> Cart
        </button>
        <span class="mx-2"></span>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="handleLogoutClick()">
          <fa-icon [icon]="faSignIn"></fa-icon> Logout
        </button>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="mt-5"></div>
