<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
          <img src="assets/e-commerce-logo.png" class="ecommerce-logo" (click)="handleLogoClick()">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">User Registration</h4>
            <form (ngSubmit)="onRegister()">
              <div class="form-group mb-3">
                <input type="text" placeholder="User Name" class="form-control" id="userName" [(ngModel)]="user.userName" name="userName" required>
              </div>
              <div class="form-group mb-3">
                <input type="email" placeholder="Email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
              </div>
              <div class="form-group mb-3 position-relative">
                <input [type]="hidePassword ? 'password' : 'text'" placeholder="Password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
                <fa-icon [icon]="hidePassword ? faEyeSlash : faEye" class="position-absolute password-toggle-icon" (click)="togglePasswordVisibility()"></fa-icon>
              </div>
              <div class="form-group mb-3 position-relative mb-3">
                <input [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm Password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                <fa-icon [icon]="hideConfirmPassword ? faEyeSlash : faEye" class="position-absolute password-toggle-icon" (click)="toggleConfirmPasswordVisibility()"></fa-icon>
              </div>
              <div class="form-group mb-3 text-center">
                <button type="submit" class="btn btn-primary mb-3">
                  <fa-icon [icon]="faUserPlus"></fa-icon> Register
                </button>
              </div>
            </form>
            <hr>
            <div class="text-center">
              <button class="btn btn-outline-secondary w-100 mb-2"><fa-icon [icon]="faGoogle"></fa-icon> Register with Google</button>
              <button class="btn btn-outline-secondary w-100 mb-2"><fa-icon [icon]="faApple"></fa-icon> Register with Apple</button>
              <button class="btn btn-outline-secondary w-100 mb-2"><fa-icon [icon]="faMicrosoft"></fa-icon> Register with Microsoft</button>
              <div class="text-center">
                <p><a href="/user/login">Already have an account? Login</a> | <a href="/user/reset-password">Forgot Password?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  