<div class="container mt-4">
  <app-header [enableSearch]="enableSearch"></app-header>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let order of orders" (click)="handleOrder(order)">
      <div class="card mb-4 shadow-sm card-hover">
        <div class="card-body">
          <p class="card-text">Order ID: {{ order.orderID }}</p>
          <p class="card-text">User ID: {{ order.userID }}</p>
          <p class="card-text">Order Date: {{ order.orderDate | date }}</p>
          <p class="card-text">Order Status: {{ order.orderStatus }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
