<div class="row mb-3 justify-content-center">
  <div class="col-md-8 text-center">
    <img src="assets/e-commerce-logo.png" class="ecommerce-logo" (click)="handleLogo()">

    <div class="input-group" *ngIf="enableSearch">
      <div class="input-group-prepend">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-secondary" (click)="handleNavigateToOrders()">
          <fa-icon [icon]="faList"></fa-icon> Orders
        </button>
        <span class="mx-2"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="productListFilter.searchText" (change)="handleSearch()">
      <div class="input-group-append ml-2">
        <span class="mx-2"></span>
        <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary" (click)="handleLogin()">
          <fa-icon [icon]="faSignIn"></fa-icon> Login
        </button>
        <span class="mx-2"></span>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-secondary" (click)="handleCart()">
          <fa-icon [icon]="faShoppingCart"></fa-icon> Cart
        </button>
        <span class="mx-2"></span>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-danger" (click)="handleLogout()">
          <fa-icon [icon]="faSignIn"></fa-icon> Logout
        </button>
      </div>
    </div>

    <div *ngIf="!enableSearch" class="text-center">
      <button *ngIf="!isLoggedIn" type="button" class="btn btn-primary" (click)="handleLogin()">
        <fa-icon [icon]="faSignIn"></fa-icon> Login
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="enableSearch">
  <div class="row mb-3">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="toggleCollapse()">
        Filter Options
      </button>
    </div>
  </div>

  <div class="collapse" #collapseElement>
    <div class="row justify-content-center align-items-center mb-3">
      <div class="col-md-2 mb-2">
        <select class="form-select" [(ngModel)]="productListFilter.category">
          <option value="">All Categories</option>
          <option *ngFor="let category of availableCategories" [value]="category">{{ category }}</option>
        </select>
      </div>
      <div class="col-md-2 mb-2">
        <input type="number" class="form-control" placeholder="Min Price" [(ngModel)]="productListFilter.minPrice">
      </div>
      <div class="col-md-2 mb-2">
        <input type="number" class="form-control" placeholder="Max Price" [(ngModel)]="productListFilter.maxPrice">
      </div>
    </div>
  </div>
</div>

<hr>
<div class="mt-5"></div>
