<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="container mt-4 border border-dark rounded p-4">
        <app-detail-header></app-detail-header>
        <button type="button" class="btn btn-link mb-3" (click)="handleNavigateBackClick()">
          <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Products
        </button>
        <h2 class="text-center mb-4">Review Creation</h2>
        <form>
          <div class="form-group mb-3">
                <label><strong>Product Name</strong></label>
                <input type="text" placeholder="Product Name" class="form-control" id="productName" name="productName" [(ngModel)]="product.name" disabled>
            </div>
          <div class="form-group mb-3">
            <label><strong>Rating</strong></label>
            <input type="number" placeholder="Rating" class="form-control" id="rating" name="rating" [(ngModel)]="review.rating">
          </div>
          <div class="form-group mb-3">
            <label><strong>Review Comment</strong></label>
            <textarea class="form-control" placeholder="Comment" id="comment" name="comment" [(ngModel)]="review.comment"></textarea>
          </div>
          <div class="form-group mb-4 text-center">
            <button type="button" class="btn btn-primary" (click)="handleCreateReviewClick()">
                <fa-icon [icon]="faPlus"></fa-icon> Create Review
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>