<div class="card mb-3 card-hover">
    <div class="card-body">
      <img [src]="product.imageUrl" class="card-img-top fixed-size-img" alt="Product Image">
      <label><strong>Product Name</strong></label>
      <p class="card-text">{{ product.name }} </p>
      <label><strong>Quantity</strong></label>
      <p class="card-text"><input type="number" [(ngModel)]="cartItem.quantity" [disabled]="!isEditing"></p>
      <label><strong>Price</strong></label>
      <p class="card-text">${{ cartItem.price }}</p>
      <button type="button" class="btn btn-danger mr-2" (click)="handleDeleteItem(cartItem)" [disabled]="!isEditing">
        <fa-icon [icon]="faTrash"></fa-icon> Delete Item
      </button>
    </div>
  </div>
  